@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald|Play|Shadows+Into+Light');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	margin: 0px;
	border: 0px;
	box-sizing: border-box;
}

body{
	height: 100%;
	width: 100%;
}
#welcome-section{
    position: absolute;
	margin: 0px;
	border: 0px;
	height: 100vh;
	width: 100%;
	margin-right: 0px;
	background-color: #3CA6F9;
	margin-top: 40px;
	
}

#name{
	width: 70vw;
	font-size: 25px;
	color: white;
	margin-left: 30px;
	letter-spacing: 2px;
	font-family:  sans-serif;
}

#welcome-section h1{
	font-size: 30px;
}

a{
	text-decoration: none;
	color: black;
}

#quote{
	width: 500px;
	position: relative;
	margin: 30px auto;
	font-family: 'Play', sans-serif;
	font-size: 30px;
}

nav{
	position: fixed;
	display: flex;
	width: 100%;
	overflow: hidden;
	background-color: #C4C70D;
	padding-right: 5px;
    align-items: center;	
    z-index: 1;
    box-shadow: 0 6px 8px -6px;
}
 nav a{
 	display: block;
 	float: right;
    margin: 10px;
 	 font-family: sans-serif;
    font-size: 20px;
    color: white;

 }
 #welcome-section #intro{
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }

#welcome-section #intro #logo img{
	display: inline-block;
	border-radius: 50%;
	margin-right: 100px;
	height: 300px;
	width: 300px;
}
#welcome-section #intro form{

    position: relative;
    display: inline-block;
    margin-top: 50px;
    
	width: 500px;
	font-family: 'Open Sans', sans-serif;
}
#welcome-section #intro #q{
	width: 40%;
	text-align: left;
	vertical-align: top;

}

#welcome-section #intro #a{
	width: 50%;
	text-align: left;
	vertical-align: top;
}
#projects{
    position: absolute;
    margin-top: 100vh;
	height: 100vh;
	width: 100%;
}
#ttl{
	height: 80px;
	margin-top: 50px;
	text-align: center;
	font-size: 30px;
	letter-spacing: 2px;
}
#row{
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#box{
	padding: 20px;
	height: 160px;
	width: 180px;
	border: 2px solid red;
	margin: 20px;
	background-color: #77d682;
}

#footer{
	position: absolute;
	display: block;
	margin-top: 230vh;
	text-align: center;
	padding: 30px;

	width: 100%;
	height: 200px;
	background-color: #3CA6F9; 
}

#footer #text{
	font-size: 30px;
}

#footer #logos{
	margin-top: 20px;
}
#footer #logos img{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 10px;
}

@media(max-width: 600px){
	nav{
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	#quote{
		width: 100%;
	}
    
    #welcome-section #quote{
    	margin-top: 200px;
    }
	#welcome-section #intro{
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	#welcome-section #intro form{
		width: 100%;
		word-wrap: break-word;
	}

	#welcome-section{
		height: 250vh;
	}
	#projects{
		margin-top: 250vh;
	}
	#footer{
		margin-top: 400vh;
	}

	nav{
		width: 100%;
	}

}