*{
	margin: 0px;
	border: 0px;
}


nav{
background-color: #0b98de;
width: 100%;
}
nav a{
display: block;
float: left;

    background-color: #17b0cf;
    border: 1px solid #000;
   
   
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    text-decoration: none;


}

nav a:hover{

}